#main {
  min-height: 60vh;
}

#day > h2 {
  color: gold;
  font-weight: 800;
  position: relative;
  right: 20px;
}

#primary,
#secondary {
  color: white;
  text-align: center;
  border-radius: 100px;
}

#primary > h5,
#secondary > h5 {
  text-decoration: underline;
  text-transform: uppercase;
}

#primary {
  background-color: #27579f;
  min-width: 28vw;
}

#secondary {
  background-color: #c86a61;
  position: relative;
  left: 20px;
  min-width: 35vw;
}
