#main {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#day > h2 {
  color: rgb(255, 183, 2);
  font-weight: 800;
  position: relative;
  right: 15px;
}

#primary,
#secondary {
  color: white;
  text-align: center;
  border-radius: 100px;
  padding-bottom: 5px;
}

#primary > h5,
#secondary > h5 {
  text-decoration: underline;
  text-transform: uppercase;
  margin: 5px;
}

#primary-secondary {
  justify-content: space-around;
}

#primary {
  background-color: #27579f;
  min-width: 28vw;
}

#secondary {
  background-color: #7b215f;
  position: relative;
  left: 20px;
  min-width: 35vw;
}

@media screen and (max-width: 900px) {
  #main {
    justify-content: space-evenly;
  }

  #day > h2 {
    position: static;
  }

  #primary-secondary {
    height: 45vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #primary {
    background-color: #27579f;
    min-width: 80vw;
  }

  #secondary {
    min-width: 80vw;
    position: static;
  }
}
